{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh; margin-top: -10vh;">
    <div class="card" style="width: 100%; max-width: 500px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <div class="card-body text-center">
            <h2 class="my-4" style="font-weight: bold; text-transform: uppercase; color: #343a40;">Password Changed</h2>
            <p>Your password has been successfully changed.</p>
            <a href="{% url 'profile' %}" class="btn btn-dark">Back to Profile</a>
        </div>
    </div>
</div>
{% endblock %}
