{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh; margin-top: -10vh;">
    <div class="card" style="width: 100%; max-width: 500px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <div class="card-body">
            <h2 class="text-center my-4" style="font-weight: bold; text-transform: uppercase; color: #343a40;">Change Your Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark w-100">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
